@page
@model Server.Pages.Admin.RoleManager.DeleteModel
@{
    var pageTitle =
        Resources.PageTitles.CreateRole;

    ViewData["PageTitle"] = pageTitle;

    if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
    {
        Layout =
            "Layouts/Rtl/_Security";
    }
    else
    {
        Layout =
            "Layouts/Ltr/_Security";
    }
}

<div class="container my-0 my-sm-1 my-md-3 my-lg-5">
    <div class="row">
        <div class="col-12 p-3   col-md-8 offset-md-2 p-md-4   col-lg-6 offset-lg-3 p-lg-5   bg-light border border-2 rounded-3 shadow-lg">
            <fieldset>
                <legend>
                    @(Resources.PageTitles.DeleteRole)
                </legend>

                <div class="mb-3">
                    <label asp-for="Role.Id" class="form-label"></label>
                    <input asp-for="Role.Id" readonly class="form-control" dir="ltr" />
                </div>
                <div class="mb-3">
                    <label asp-for="Role.RoleName" class="form-label"></label>
                    <input asp-for="Role.RoleName" readonly class="form-control" dir="ltr" />
                </div>
                <div class="mb-3">
                    <label asp-for="Role.InsertDateTime" class="form-label"></label>
                    <input asp-for="Role.InsertDateTime" readonly class="form-control" dir="ltr" />
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Role.IsActive" disabled /> @Html.DisplayNameFor(model => model.Role.IsActive)
                    </label>
                </div>

            </fieldset>

            <hr class="mt-4" />

            <div class="text-center">
                <button type="button" class="btn btn-outline-danger" onclick="openModal()">
                    @(Resources.ButtonCaptions.Delete)
                </button>
                |
                <a asp-page="./Index" class="btn btn-outline-secondary">@(Resources.ButtonCaptions.Back)</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="delete-conformation" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="deleteconformationLabel">
    <div class="modal-dialog modal-dialog-centered" style="width:501px !important;margin:0 auto;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="delete-conformation">
                    @(Resources.PageTitles.DeleteRole)
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                @(Resources.DataDictionary.DeleteConfirmationMessage)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="closeModal()">
                        @(Resources.ButtonCaptions.No)
                    </button>
                    <form asp-page-handler="Delete" method="post">
                        <button class="btn btn-danger">
                            @(Resources.ButtonCaptions.Delete)
                        </button>
                        <input type="hidden" name="Id" value="@Model.Role.Id" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        function openModal() {
            $('#delete-conformation').modal('show')
        }
        function closeModal() {
            $('#delete-conformation').modal('hide')
        }

    </script>

}