@page
@model Server.Pages.Admin.RoleManager.IndexModel
@inject Infrastructure.Settings.ApplicationSettings applicationSettings

@{
    var pageTitle =
                Resources.PageTitles.UserRoles;

    ViewData["PageTitle"] = pageTitle;

    if (System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft)
    {
        Layout =
            "Layouts/Rtl/_Layout";
    }
    else
    {
        Layout =
            "Layouts/Ltr/_Layout";
    }
}


<div class="row">
    <div class="col table-responsive">
        <p>
            <a class="btn btn-outline-info" asp-page="Create">@(Resources.ButtonCaptions.Create)</a>
        </p>
        <table class="@(applicationSettings.FileManagerSettings.TableStyle)">
            <caption>@(Resources.DataDictionary.ListOfRoles)</caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles[0].InsertDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles[0].RoleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles[0].IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles[0].IsDefault)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles[0].IsDeletable)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Roles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InsertDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td><td>
                            @Html.DisplayFor(modelItem => item.IsDefault)
                        </td><td>
                            @Html.DisplayFor(modelItem => item.IsDeletable)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-success">@(Resources.ButtonCaptions.Edit)</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-info">@(Resources.ButtonCaptions.Details)</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">@(Resources.ButtonCaptions.Delete)</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
